<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% /* Dessa forma construimos um html normal, mas podemos misturar o html junto com o JS, as tags JS são inseridas atravez dos
        caracteres menor e porcentagem, sempre fechando com porcentagem e maior, os elementos que não quer que sejam exibidos no html
        usamos apenas eles, caso queiramos exibir no html usamos um = apos o menor porcentagem, e possivel definir qualquer código JS */ %>
        <%= title %>
    </title>
</head>

<body>
    
    <h1>Renderizando HTML com EJS</h1>

    <div>
        <p>
            <%= content %>
        </p>
    </div>

    <% let a = 1 %>
    <% const b = 'verdadeiro' %>
    <% if (a === 1) { %>
        <p>
            <%= b %>
        </p>
    <% } %>

    <div>
        <ul>
            <% for (let i = 0; i <= 10; i++) { %>
                <li> 3 * <%= i %> = <%= 3 * i %></li>
           <% } %>
        </ul>
    </div>
</body>

</html>